# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.env/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Logs
*.log

# Python local config files
*.env
